button{
border-radius: 50%;
margin: 0;
}


.totalExercise{
  margin-bottom: 20px;
}
.welcome{
  margin-bottom: 30px;
}
.HomeTitle{
    font-size: 1.5rem;
    font-weight: 600;
    
}

.center {
    border: 5px solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
  }
  .css-d9c359-MuiButtonBase-root-MuiToggleButton-root{
    padding: 6px !important;
  }