.loginLabel{
    font-weight: 800;
    font-size: 28px;
    color: darkcyan;
    margin: auto;
    width: 50%;
    padding-bottom: 20px;
}

.userBadgesSection{
   padding-left: 20px;
}

.css-pl8gqh-MuiStack-root>:not(style):not(style) {
    margin-left: 16px !important;
    
}